
<h1>PiLeaf</h1>
<p>Does stuff with a Leaf</p>
<ul class="buttonList">
	<li><button class="btn btn-primary" id="getBatteryStatus">Get battery status</button></li>
	<li><button class="btn btn-primary" id="ccON">Climate control ON</button></li>
	<li><button class="btn btn-primary" id="ccOFF">Climate control OFF</button></li>
	<li>
		<button class="btn btn-primary" id="ccScheduledStartBtn">Start climate control at this time : </button>
		<input type="date" id="ccScheduledStartDate">
		<input type="time" id="ccScheduledStartTime">
	</li>
	<li><button class="btn btn-primary" id="setChargingON">Charging On</button></li>
</ul>
<pre id="commandOutput"></pre>
<button type="button" class="btn btn-secondary" id="toggleProgress">Show/hide progress (a.k.a : debug logs)</button>
<pre id="commandProgressOutput"></pre>

